/* RESET - start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    font: 400 1rem/1 'Fira Sans', sans-serif;
    color: #222222;
    background: #F4F4F4;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.22rem;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
}

p {
    line-height: 1.55rem;
    opacity: 0.7;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

button {
    background-color: transparent;
    border: none;
}

/* Repead elem */
.opacity {
    opacity: 0.7;
}

.p-text-transform {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.btn {
    background: #3726F2;
    border-radius: 0;
    padding: 17px 0;
    font-size: 0.78rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
}

.static {
    position: static;
}

/* HEADER - start */
.header {
    padding: 59px 0;
}

.nav {
    padding-bottom: 127px;
}

/* menu gumberger */
.menu-toggle {
    position: fixed;
    top: auto;
    right: 75px;
    /*  */
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: rgba(52, 58, 64, 0.55);
    display: none;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #205081;
}

.fa-bars {
    vertical-align: -webkit-baseline-middle;
}

/* offer */
.offer-content__title {
    font-size: 3.33rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.17em;
    color: #151515;
}

.offer-content__text {
    line-height: 1.56em;
    padding: 30px 0 56px;
}

.offer-content__btn {
    min-width: 189px;
}

.offer-content__btn:hover {
    color: #E2F22A;
    background: rgba(23,16,102,0.9);
}
/*  */
.offer-hero {
    background: url('../image/img1.jpg') no-repeat right top;
    background-size: 93%;
    width: 665px;
    height: 840px;
    position: absolute;
    right: 0;
    top: 142px;
}

.video {
    background: url('../image/video.jpg') no-repeat center center;
    width: 400px;
    height: 310px;
    display: block;
    position: absolute;
    top: 364px;
    left: -65px;
}

.video::before {
    content: '';
    display: block;
    background: url('../image/play.svg');
    width: 65px;
    height: 65px;
}

/* problems */
.problems {
    padding-top: 494px;
}

.about__user {
    background: url('../image/author.jpg') no-repeat left center;
    margin-top: 61px;
    height: 65px;
    padding-left: 96px;
}

.about__name {
    font-size: 1.22rem;
    font-weight: 500;
    line-height: 1.455em;
}

.about-title {
    padding-bottom: 30px;
}

/* services */
.services {
    padding-top: 142px;
    margin-bottom: 296px;
}

.service {
    line-height: 1.56em;
    opacity: 0.5;
    margin-top: 48px;
}

.section-title {
    margin-bottom: 99px;
}

.service-list.service-list__left {
    margin-left: 52px;
}

.service-list.service-list__right {
    margin-left: -15px;
}

.service-list__item {
    margin-bottom: 21px;
}

/* carousel */
.item {
    padding-right: 30px;
}

.slick-slide {
    opacity: 0.3;
}

.slick-slide.slick-active {
    opacity: 1;
}

.slick-slide.slick-active::before {
    content: url('../image/play.svg');
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    transform: translateX(380px);
}

.slick-arrow {
    position: relative;
    left: 0;
    padding-right: 25px;
}

.content {
    margin-top: 50px;
}

/* result */
.collage {
    background: url('../image/img6.jpg') no-repeat left top;
    width: 570px;
    height: 417px;
    position: absolute;
    left: 0;
}

.collage > img {
    position: absolute;
    width: 350px;
    height: 453px;
    top: 99px;
    right: -62px;
    display: block;
    box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
}

.easy {
    margin-left: 78px;
    margin-top: 38px;
}

.easy-title {
    padding-bottom: 13px;
}

.easy__text {
    margin-bottom: 51px;
}

.easy-point {
    padding: 30px 0 30px 83px;
    font-size: 0.78rem;
    font-weight: 500;
    line-height: 1.33em;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.easy-point__first {
    background: url('../image/icon100.svg') no-repeat left center;
}

.easy-point__second {
    background: url('../image/bag.svg') no-repeat left center;
}

/* works */
.works {
    padding-top: 307px;
}

.work-tabs__item a {
    font-weight: 500;
    font-size: 0.78rem;
    line-height: 1.71em;
    letter-spacing: 4px;
    opacity: 0.3;
    /* display: block; */
    text-transform: uppercase;
}

.work-tabs__item.active a {
    color: #1434E1;
    opacity: 1;
}

.work-wrap__item {
    margin-bottom: 30px;
    position: relative;
}

.work-wrap__item img {
    transition: all 1s ease;
}

.work-wrap__item:hover img {
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
    transform: scale(1.0) translate(0px, -20px);
}

.work-wrap__item:hover::after {
    content: '';
    display: block;
    background: url('../image/play.svg');
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    transform: scale(1.0) translate(0px, -20px);
    transition: all 1s ease;
    /*  */
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    }
}
/* tabs */
.tabs__content {
    display: none !important; /* по умолчанию прячем все блоки */
  }
  .tabs__content.active {
    display: flex !important; /* по умолчанию показываем нужный блок */
}

.work-button__btn {
    min-width: 222px;
}

.work-article, .work-button {
    padding-top: 22px;
}

/* testimonials */
.testimonials {
    padding-top: 248px;
}

.testimonials-title__text {
    padding: 73px 0 121px;
}

.testimonials-manager__name {
    font-size: 1.22rem;
    line-height: 1.455em;
    font-weight: 500;
    padding-bottom: 13px;
}

.testimonials-manager__work {
    line-height: 1.56em;
}
/* slaider */
.test .slick-track > .row:before {
    display: none;
}

.cont {
    margin-top: -50px;
}
/* footer */
.footer {
    padding-top: 176px;
}

.clients {
    background: #FAFAFA;
}

.footer-clients {
    padding-top: 102px;
}

.footer-text {
    padding-top: 110px;
}

.footer-text__label {
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #222222;
    opacity: 1;
}

.footer-logotype {
    padding: 66px 0 137px;
}

.footer-logotype__item:hover {
    /* transform: scale(1.1) scaleZ(1.0) rotateX(20deg) rotateY(-360deg);
    transition: all 3s ease; */

    animation-name: hover-rotate;
    /* animation: 0.8s ease 1s; */
    animation-duration: 2s;
}

@keyframes hover-rotate {
    0%{
        transform: scale(1.0) scaleZ(1.0) rotateX(0) rotateY(0);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.1) scaleZ(1.0) rotateX(20deg) rotateY(-360deg);
    }
}

.logo {
    background: #515151;
}

.logo-footer__img {
    padding: 109px 0 108px;
}
/* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    
    color: #fff;
    background-color: rgba(255, 152, 0, 0.9);
    display: none;
}

.fa-solid {
    transform: translateY(65%);
}

/* popup-окно */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
}

.popup-body {
    width: 450px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.popup-body__text {
    padding-bottom: 10px;
    text-align: center;
}

.popup-body__logotype {
    text-align: center;
}

.popup-body__close {
    position: absolute;
    right: 5%;
    top: 10%;
}


/* Menu gamburger*/
@media (max-width: 768px) {
    /* header */
    .nav {
        display: none;
        padding-bottom: 20px;
        position: fixed;
        left: 20%;
        top: 59px;
    }
    .menu-toggle {
        display: block;
        margin-left: auto;
    }
    .nav-logo, .search {
        padding-bottom: 5px;
    }
    .menu {
        margin: 0 !important;
    }
    .offer {
        padding-top: 10%;
    }
}

.nav.show {
    display: block;
    position: fixed;
}

/* Popup */
.show, .popup.show {
    display: block;
}

@media(max-width: 1199px) {

    .offer-hero {
        width: 55%;
        height: 80vh;
        background-size: 80% 100%;
    }
    .video {
        left: 0;
        top: 50%;
        width: 40%;
        height: 35%;
    }

    .problems {
        padding-top: 10%;
    }
    
    .services {
        margin-bottom: 10%;
    }

    .result .collage {
        width: 50%;
    }

    .works {
        padding-top: 20%;
    }
    .media {
        width: 40%;
    }
    .media-offset {
        margin-left: 0;
    }
    .work-wrap {
        justify-content: space-around !important;
    }

    .testimonials {
        padding-top: 10%;
    }
    .testimonials-photo {
        width: 370px;
    }
    .cont {
        margin-top: 0;
    }

    .footer {
        padding-top: 10%;
    }
}

@media(max-width: 991px) {

    h1 {
        font-size: 2rem;
    }

    .offer-content__title {
        font-size: 2rem;
    }

    .carousel .image-media {
        width: 70%;
    }
    .slick-slide.slick-active::before {
        transform: none;
        margin-left: 1.4%;
    }

    .work-tabs__item + .work-tabs__item {
        padding-left: 10px;
    }
    .work-button__btn {
        min-width: 170px;
    }

    .testimonials-photo {
        width: 270px;
    }

    .testimonials-title__text {
        padding: 0;
    }
}

@media(max-width: 767px) {

    .offer {
        padding-top: 20%;
    }
    .offer-media {
        width: 49%;
    }
    .offer-hero {
        height: 65vh;
    }

    .carousel .image-media {
        width: 50%;
    }
    .slick-slide.slick-active::before {
        margin-left: 1%;
    }

    .result .collage {
        width: 75%;
    }
    .result-media {
        padding-top: 100vh;
    }
    .easy {
        margin: 0;
    }
    .easy__title, .easy__text {
        text-align: center;
    }

    .cont {
        margin-top: 20px;
    }
}

/* loader */
.hide {
    display: none;
}

.loader-position {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader {
    z-index: 9;
    /*  */
    font-size: 95px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em #2808c9, 0 -0.83em 0 -0.42em #2808c9, 0 -0.83em 0 -0.44em #2808c9, 0 -0.83em 0 -0.46em #2808c9, 0 -0.83em 0 -0.477em #2808c9;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em #2808c9, 0 -0.83em 0 -0.42em #2808c9, 0 -0.83em 0 -0.44em #2808c9, 0 -0.83em 0 -0.46em #2808c9, 0 -0.83em 0 -0.477em #2808c9;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em #2808c9, -0.087em -0.825em 0 -0.42em #2808c9, -0.173em -0.812em 0 -0.44em #2808c9, -0.256em -0.789em 0 -0.46em #2808c9, -0.297em -0.775em 0 -0.477em #2808c9;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em #2808c9, -0.338em -0.758em 0 -0.42em #2808c9, -0.555em -0.617em 0 -0.44em #2808c9, -0.671em -0.488em 0 -0.46em #2808c9, -0.749em -0.34em 0 -0.477em #2808c9;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em #2808c9, -0.377em -0.74em 0 -0.42em #2808c9, -0.645em -0.522em 0 -0.44em #2808c9, -0.775em -0.297em 0 -0.46em #2808c9, -0.82em -0.09em 0 -0.477em #2808c9;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em #2808c9, 0 -0.83em 0 -0.42em #2808c9, 0 -0.83em 0 -0.44em #2808c9, 0 -0.83em 0 -0.46em #2808c9, 0 -0.83em 0 -0.477em #2808c9;
    }
  }
  @keyframes load6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em #999999, -0.087em -0.825em 0 -0.42em #999999, -0.173em -0.812em 0 -0.44em #999999, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #999999;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em #999999, -0.338em -0.758em 0 -0.42em #999999, -0.555em -0.617em 0 -0.44em #999999, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #999999;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em #999999, -0.377em -0.74em 0 -0.42em #999999, -0.645em -0.522em 0 -0.44em #999999, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #999999;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
  }
